[Desktop Entry]
Type=Application
Exec=utools
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=utools
Name=utools
Comment[en_US]=
Comment=
